<div class="content-container">

        <div class="container-fluid">

                <div class="d-md-flex h-md-100 align-items-center">

                        <!-- First Half -->
                        <div class="col-md-6 p-0 h-md-100">

                                <nav>
                                        <ul id="menu">
                                                <li><a href="" class="animated fadeInUp">Seleccione mes <i
                                                                        class="fas fa-sort-down"></i></a>
                                                        <ul>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_January_2021.html"
                                                                                target="iframe1">Enero</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_February_2021.html"
                                                                                target="iframe1">Febrero</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_March_2021.html"
                                                                                target="iframe1">Marzo</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_April_2021.html"
                                                                                target="iframe1">Abril</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_May_2021.html"
                                                                                target="iframe1">Mayo</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_June_2021.html"
                                                                                target="iframe1">Junio</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_July_2021.html"
                                                                                target="iframe1">Julio</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_August_2021.html"
                                                                                target="iframe1">Agosto</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_September_2021.html"
                                                                                target="iframe1">Septiembre</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_October_2021.html"
                                                                                target="iframe1">Octubre</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_November_2021.html"
                                                                                target="iframe1">Noviembre</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_December_2021.html"
                                                                                target="iframe1">Diciembre</a>
                                                                </li>
                                                        </ul>
                                                </li>
                                        </ul>
                                </nav>

                                <iframe name="iframe1"
                                        src="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_January_2021.html"
                                        class="animated fadeInUp" width="100%" height="100%" style="margin-top: 130px;"
                                        allowfullscreen="True" loading="lazy">
                                </iframe>
                        </div>

                        <!-- Second Half -->
                        <div class="col-md-6 p-0 h-md-100">

                                <nav>
                                        <ul id="menu">
                                                <li><a href="" class="animated fadeInUp">Seleccione mes <i
                                                                        class="fas fa-sort-down"></i></a>
                                                        <ul>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_January_2021.html"
                                                                                target="iframe2">Enero</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_February_2021.html"
                                                                                target="iframe2">Febrero</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_March_2021.html"
                                                                                target="iframe2">Marzo</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_April_2021.html"
                                                                                target="iframe2">Abril</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_May_2021.html"
                                                                                target="iframe2">Mayo</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_June_2021.html"
                                                                                target="iframe2">Junio</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_July_2021.html"
                                                                                target="iframe2">Julio</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_August_2021.html"
                                                                                target="iframe2">Agosto</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_September_2021.html"
                                                                                target="iframe2">Septiembre</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_October_2021.html"
                                                                                target="iframe2">Octubre</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_November_2021.html"
                                                                                target="iframe2">Noviembre</a>
                                                                </li>
                                                                <li><a href="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_December_2021.html"
                                                                                target="iframe2">Diciembre</a>
                                                                </li>
                                                        </ul>
                                                </li>
                                        </ul>
                                </nav>

                                <iframe name="iframe2"
                                        src="https://observatorionieves.cl/media/maps/landsat/nieve/landsat_mensual_July_2021.html"
                                        class="animated fadeInUp" width="100%" height="100%" style="margin-top: 130px;"
                                        allowfullscreen="" loading="lazy"></iframe>
                        </div>

                </div>
                <div class="animated bounceIn" id="curve_chart" style="width: 100%; height: 280px; margin-top: 150px;">
                </div>
        </div>
</div>