<div class="content-container">

  <div class="container-fluid">

    <div class="d-md-flex h-md-100 align-items-center">

      <!-- First Half -->
      <div class="col-md-6 p-0 h-md-100">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13380.242972537608!2d-71.64133845174558!3d-33.0285301187918!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e6c652de701d%3A0x1c6891fdd7b481be!2sUniversidad%20de%20Playa%20Ancha%20de%20Ciencias%20de%20la%20Educaci%C3%B3n%20Casa%20Central!5e0!3m2!1ses-419!2scl!4v1637940369971!5m2!1ses-419!2scl"
          class="animated rotateInUpRight" width="700" height="660" style="border: 2px;;" allowfullscreen=""
          loading="lazy"></iframe>
      </div>

      <!-- Second Half -->
      <div class="col-md-6 p-0 h-md-100">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13380.242972537608!2d-71.64133845174558!3d-33.0285301187918!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e6c652de701d%3A0x1c6891fdd7b481be!2sUniversidad%20de%20Playa%20Ancha%20de%20Ciencias%20de%20la%20Educaci%C3%B3n%20Casa%20Central!5e0!3m2!1ses-419!2scl!4v1637940369971!5m2!1ses-419!2scl"
          class="animated rotateInUpLeft" width="700" height="660" style="border: 2px;;" allowfullscreen=""
          loading="lazy"></iframe>
      </div>

    </div>
  </div>
</div>