<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , by
        <a href="https://datoslab.cl/" target="_blank" class="footer-link fw-bolder">DatosLab</a>
    </div>
  </footer>
  <!-- / Footer -->

</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>
<!-- Overlay -->
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/js/core.js -->
<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/perfect-scrollbar.js"></script>

<script src="/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/js/apexcharts.js"></script>

<!-- Main JS -->
<script src="/js/main.js"></script>