<div class="sidebar-container">
  <div class="sidebar-logo">
    <img src="https://observatorionieves.cl/static/img/logos_obsnieves/logo-horizontal-color-positivo.png" alt=""
      class="animated bounceIn" style="max-height: 150px">
  </div>
  <ul class="sidebar-navigation">
    <li class="header">
      <i class="fas fa-satellite"></i> Visualizadores
    </li>
    <li>
      <a href="https://observatorionieves.cl/visualizadores/landsat/">
         Landsat
      </a>
    </li>
    <li>
      <a href="https://observatorionieves.cl/visualizadores/sentinel/">
         Sentinel
      </a>
    </li>
    <li>
      <a href="https://observatorionieves.cl/visualizadores/modis/">
        MODIS
      </a>
    </li>

    <li class="header"></i><i class="fas fa-satellite-dish"></i>
      Observatorio Satelital de nieves
    </li>
    <div class=container>
      <p>
        En base a imágenes satelitales fusionadas de Landsat 4, 5 , 7 y 8 se establece una comparación interanual entre
        los distintos años sobre la cuenca del Río Aconcagua mediante un panel divisorio. La información es recopilada a
        partir de los valores del promedio anual del Indice Normalizado de Nieve (NDSI). Esta interfaz de usuario le
        permite seleccionar los años de interés a analizar, desplegando el panel divisorio donde se visualizará el
        resultado dentro del mapa.
      </p>
    </div>
    <li class="header">
      <i class="fas fa-list-ol"></i> Promedio de presencia de nieve
    </li>
    <div class=container>
      <div class="animated bounceIn" style="margin: 30px 400px 5px 5px; background-color:#FFFFFF; padding: 15px;"></div>
      <div class="animated bounceIn" style="margin: 5px 400px 5px 5px; background-color: #FFFFD9; padding: 15px;"></div>
      <div class="animated bounceIn" style="margin: 5px 400px 5px 5px; background-color: #EDF8B1; padding: 15px;"></div>
      <div class="animated bounceIn" style="margin: 5px 400px 5px 5px; background-color: #C7E9B4; padding: 15px;"></div>
      <div class="animated bounceIn" style="margin: 5px 400px 5px 5px; background-color: #7FCDBB; padding: 15px;"></div>
      <div class="animated bounceIn" style="margin: 5px 400px 5px 5px; background-color: #41B6C4; padding: 15px;"></div>
      <div class="animated bounceIn" style="margin: 5px 400px 5px 5px; background-color: #1D91C0; padding: 15px;"></div>
      <div class="animated bounceIn" style="margin: 5px 400px 5px 5px; background-color: #225EA8; padding: 15px;"></div>
      <div class="animated bounceIn" style="margin: 5px 400px 5px 5px; background-color: #253494; padding: 15px;"></div>
      <div class="animated bounceIn" style="margin: 5px 400px 5px 5px; background-color: #081D58 ; padding: 15px;">
      </div>
    </div>
    <div class="sidebar-logo">
      <img
        src="https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/thumbnails/9b46bc87aadc1ff2f5df74c7f723c71c-7b4b2fff3210be6211ba7ffcd50d17bf:getPixels"
        alt="" class="animated bounceIn" style="max-height: 150px">
    </div>
  </ul>
</div>